<div class="formDialogHeader" style="display: flex; align-items: center; justify-content: space-between;">
<h3 class="formDialogHeaderTitle" style="margin-left: 8px;">${HeaderCastAndCrew}</h3>
    <button is="paper-icon-button-light" class="btnClose autoSize" tabindex="-1" title="${ButtonCancel}">
        <span class="material-icons close" aria-hidden="true"></span>
    </button>
</div>

<div class="formDialogContent smoothScrollX">
    <div class="dialogContentInner dialog-content-centered">
        <div id="castContent" is="emby-itemscontainer" class="scrollSlider focuscontainer-x itemsContainer hide"></div>
    </div>
</div>
